.fps1 {
            display: inline-block;
			background-color: #ffffff;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 15px;
            font-weight: 300;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            border-radius: 2px;
			font-family: 'Roboto', sans-serif;
			box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); left: 20px;
			transition:all 0.3s ease;
			    line-height: 1.42857143;
        }
		.fps1:hover {
            display: inline-block;
            padding: 6px 12px;
			background-color: #3F51B5;
            margin-bottom: 0;
			color: #fff;
			font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 300;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            border-radius: 25px;
			box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.42), 0 1px 6px 0 rgba(0, 0, 0, 0.42); left: 20px;
			left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
		.botserver {
		padding: 0 8px;
		font-family: Ubuntu;
		font-size: 24px;
		color: #000;
		background-color: #3F51B5;
		box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32), 0 1px 6px 0 rgba(0, 0, 0, 0.32);
					transition:all 0.3s ease;

		}
				.botserver:hover {
		padding: 0 8px;
		font-family: Ubuntu;
		font-size: 24px;
		color: #fff;
		background-color: #000;
		box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32), 0 1px 6px 0 rgba(0, 0, 0, 0.32);
					transition:all 0.3s ease;

		}
